@import './variables';

:root {
  --black: #{$black};
  --darkblack: #{$darkBlack};
  --gray: #{$gray};
  --smoke: #{$smoke};
  --white: #{$white};
  --blue: #{$blue};
}

@font-face {
  font-family: SFPro;
  src: url(/public/assets/fonts/SFPRODISPLAYREGULAR.OTF);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #{$white};
  font-family: -apple-system, SFPro, sans-serif;
}
